@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f2f2f2;
  max-width: 100%;
}


.header {
  background: #0a5039;
  color: #fff;
  border-bottom: 3px solid #1ac5a3;
  display: flex;
}

.site-title{
  margin-left: 20px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title-logo{
  width: 50%;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo{
  width: 65px !important;
  border: 2px solid #1ac5a3;
  border-radius: 50px;
  }

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  font-size: 24px;
}
nav.noactive{
max-width: 50%;
align-content: center;
}
.navbar nav ul {
  list-style-type: none;
  display: flex;
}

.navbar nav ul li {
  margin: 0 10px;
}

.navbar nav ul li button {
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 0;
  text-decoration: none;
}

.navbar nav ul li button:hover {
  color: rgb(56, 241, 176);
}

.navbar-toggle {
  display: none;
  cursor: pointer;
  font-size: 30px;
  color: #fff;
  position: absolute;
  right: 20px; /* Adjusted for better positioning */
}

/* Styles for nav element */
nav {
  transition: background-color 0.3s ease;
}

/* Active and noactive styles for nav element */


/* Responsive styles */
@media (max-width: 768px) {
  .title-logo{
    width: 70%;
    margin-left: 10px;
    color: #fff;
    display: flex;
    flex-direction: row-reverse;
  align-content: start;
  justify-content: space-around;
  }
  
  .logo{
    width: 60px !important;
    border-radius: 50px;
    }
  .title{
    width: 70%;
    color: #fff;
    font-size: 24px;
    text-align: center;
  }
  .navbar {
    width: 100%;
    flex-direction: column;
  }

  .navbar nav ul {
    flex-direction: column;
  }

  .navbar nav ul.active {
    display: flex;
  }

  .navbar nav ul li {
    margin: 10px 0;
    
  }

  .navbar nav ul li button {
    font-size: 20px;
    padding: 10px;
    width: 100%;
    text-align: center;
  }

  .navbar-toggle {
    display: block;
  }
  nav.active {
    display: block;
  }
  
  nav.noactive {
    display: none;
  }
}
